{% load widget_tweaks %}

<div class="flex justify-between">
    <label for="id_{{ field.id }}" class="block text-sm font-medium text-gray-700">
        {% if label %}
            {% if label != '*' %}
                {{ label|title  }}
            {% endif %}
        {% else %}
            {{ field.label|title  }}
        {% endif %}
    </label>
    {% if optional %}
        <span class="text-sm text-gray-500">Optional</span>
    {% endif %}
</div>
{% if form.is_bound %}
    {% if field.errors %}
        {% render_field field class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-red-300 text-red-900 focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm rounded-md" %}
        {% for error in field.errors %}
            <div class="mt-2 text-sm text-red-600">{{ error }}</div>
        {% endfor %}
    {% else %}
        {% render_field field class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-green-300 text-green-900 focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm rounded-md" %}
    {% endif %}
{% else %}
    {% render_field field class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" %}
{% endif %}
