{% extends 'base.html' %}

{% block nav_settings_text %}bg-indigo-800 text-white{% endblock nav_settings_text %}
{% block nav_settings_icon %}text-white{% endblock nav_settings_icon %}
{% block nav_mobile_settings_text %}bg-indigo-800 text-white{% endblock nav_mobile_settings_text %}
{% block nav_mobile_settings_icon %}text-white{% endblock nav_mobile_settings_icon %}

{% block title %}Create Account{% endblock title %}

{% block content %}
<div class="mt-4">
    <nav class="sm:hidden" aria-label="Back">
        <a href="{% url 'account-list' %}" class="flex items-center text-sm font-medium text-gray-500 hover:text-gray-700">
            <!-- Heroicon name: chevron-left -->
            <svg class="flex-shrink-0 -ml-1 mr-1 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            Back
        </a>
    </nav>
    <nav class="hidden sm:flex" aria-label="Breadcrumb">
        <ol class="flex items-center space-x-4">
            <li>
                <div>
                    <a href="{% url 'settings' %}" class="text-sm font-medium text-gray-500 hover:text-gray-700">Settings</a>
                </div>
            </li>
            <li>
                <div class="flex items-center">
                    <!-- Heroicon name: chevron-right -->
                    <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                    </svg>
                    <a href="{% url 'account-list' %}" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Accounts</a>
                </div>
            </li>
            <li>
                <div class="flex items-center">
                    <!-- Heroicon name: chevron-right -->
                    <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                    </svg>
                    <a href="#" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Create Account</a>
                </div>
            </li>
        </ol>
    </nav>
</div>

<div class="mt-2 md:flex md:items-center md:justify-between">
    <div class="flex-1 min-w-0">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
            Create Account
        </h2>
    </div>
</div>

<div class="bg-white overflow-hidden shadow rounded-lg divide-y divide-gray-200 my-4">
    <div class="px-4 py-5 sm:p-6">
        <form method="POST" novalidate>
            {% csrf_token %}
            <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                <div class="sm:col-span-6">
                    <div class="sm:w-1/2">
                        {% include 'core/forms/input_field.html' with form=form field=form.first_name %}
                    </div>
                </div>
                <div class="sm:col-span-6">
                    <div class="sm:w-1/2">
                        {% include 'core/forms/input_field.html' with form=form field=form.last_name %}
                    </div>
                </div>
                <div class="sm:col-span-6">
                    <div class="sm:w-1/2">
                        {% include 'core/forms/input_field.html' with form=form field=form.username %}
                    </div>
                </div>
                <div class="sm:col-span-6">
                    <div class="sm:w-1/2">
                        {% include 'core/forms/input_field.html' with form=form field=form.email %}
                    </div>
                </div>
                <div class="sm:col-span-6">
                    <div class="sm:w-1/2">
                        {% include 'core/forms/select_field.html' with form=form field=form.is_manager %}
                        <p class="mt-2 text-sm text-gray-500">Managers have the ability to manage all sites simultaneously.</p>
                    </div>
                </div>
                <div class="sm:col-span-6">
                    <div class="sm:w-1/2">
                        <div id="site_div" style="display: none;">
                            {% include 'core/forms/select_field.html' with form=form field=form.site %}
                            <p class="mt-2 text-sm text-gray-500">The site this user manages.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <button type="submit" class="bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Create Account
                </button>
                <p class="my-2 text-sm text-gray-500">Note: this account's password will be set to the same value as the username. <br>It strongly recommended, for security, to change this password immediately upon login.</p>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    var managerInput = document.getElementById('id_is_manager');
    var siteDiv = document.getElementById('site_div');

    managerInput.onchange = function (e) {
        var isManager = managerInput.value;
        if (isManager == 'True') {
            siteDiv.style.display = 'none';   
        } else {
            siteDiv.style.display = 'block';   
        }
    };
</script>
{% endblock scripts %}