{% extends 'registration/base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div>
    <h2 class="mt-6 text-3xl font-extrabold text-gray-900">
        Password Reset
    </h2>
</div>

<div class="mt-8">
    <div class="mt-6">
        <form action="#" method="POST" class="space-y-6" novalidate>
            {% csrf_token %}
            <div>
                {% include 'core/forms/input_field.html' with form=form field=form.email label="Email" %}
            </div>

            {% if form.errors %}
                {% for error in form.non_field_errors %}
                    <p class="mt-2 text-sm text-red-600">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <div>
                <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Reset Password
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}